    /*Style*/
    #encabezado{
        background-color: #04AA6D;
        color: white;
        padding: 25px 50px;
        display: flex;
        justify-content: space-between; /* Empuja el eslogan a la derecha y la marca a la izquierda */
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .seccion {
        background-color: #f9f9f9;
        border: 1px solid;
        padding: 20px 32px;       /* Reduce el relleno interno (alto y ancho del bloque) */
        border-radius: 16px;
        margin-bottom: 24px;
        box-shadow: 0 3px 12px rgba(20, 92, 67, 0.06);
    }


    /* Agrupación vertical del logo e ícono */
    .header-brand {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px; 
    }

    /* Estilo del título principal */
    #encabezado h1 {
        font-size: 40px;
        margin: 0;
    }

    /* Estilo del eslogan alineado a la derecha */
    #encabezado .eslogan {
        margin: 0;
        font-size: 20px;
        font-style: italic;
    }

    body{
        font-family: Arial, Helvetica, sans-serif ;/*Cambia la fuente de letra*/
        background-color: white;/*Cambia el color de fondo*/
        padding: 0; /*Crea un espacio DENTRO de los elementos*/
        margin: 0; /*Crea un espacio ALREDEDOR de los elementos*/
        color: #333;
    }

    #contenido{ /*Main Id*/
        max-width: 1200px;
        margin: 51px auto;
    }

    button{
        cursor: pointer;
    }

    #pie{
        background-color: #04AA6D;
        text-align: center;
        padding: 34px 20px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #pie h1{
        margin: 0;
    }

    .pie-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-logo h1 {
        font-size: 36px;
        font-weight: bold;
        color: #c0df36; /* Verde lima/amarillento */
        margin: 0;
        text-shadow: none; /* Elimina la sombra de texto por defecto */
        letter-spacing: 1px;
        }

    .button{
        width: 60px;
        height: 65px; 
        font-size: 24px; 
        background-color: white;
        border: 2px solid #ccc;
        transition: 0.2s;
    }

    /* Add a black background color to the top navigation */
    .topnav {
        position: sticky;  
        top: 0;
        overflow: hidden;
        background-color: #333;
        z-index: 1000;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }

    /* Create a right-aligned (split) link inside the navigation bar */
    .topnav a.split {
        float: right;
        background-color: #04AA6D;
        color: white;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /*Reglas para las etiquetas h2 y h3*/
    h2 {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 2px;/*Agrega un espacio entre las letras*/
        color: #04AA6D;
    }

    h3{
        font-weight: 600;
        color: #04AA6D;
    }

    .carrito-contador{
        float: right;
        color: white;
        padding: 14px 16px;
        font-size: 15px;
    }